# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore environment folders
.venv/

# Ignore CSV and JSON files (logs, temp data, etc.)
*.csv
*.json

# Ignore log directory
log/

# Ignore temp output or intermediate files
*.jsonl
chunks*.json
flask_session/
.env